.detail-block {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    margin: 0 0 40px;

    @media (max-width: 767px) {
      margin: 0 0 23px;
    }
  }

  &:nth-child(2) {
    @media (max-width: 767px) {
      display: block;
    }
  }
}